<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listing 1</title>
</head>
<body>
  <div>
    <h1>This is a button test unrelated but gives the format:</h1>
    <button type="button" onclick="window.location.href='https://google.com';">Testing button format</button>
  </div>
  <div>
    <h1>This is Listing 1 </h1>
    <p>Here is listing 1 :</p>
    <button type="button" onclick="/*put .js function here*/">run code here</button>
    /*the .js function to communicate with web3 should be in the same directory*/
  </div>
</body>

</html>
